[core]
	editor = nvim
	quotepath = false
	filemode = true
	# pager = delta
[ghq]
	root = ~/repos
[user]
	email = pavegy@gmail.com
	name = Ryota Ikezawa
[color]
	ui = true
	diff = auto
	gre = auto
	interactive = auto
	status = auto
[interactive]
	diffFilter = delta --color-only
[delta]
	dark = true
	navigate = true
	side-by-side = true
	line-numbers = true
[diff]
	colorMoved = default
[pull]
	rebase = false
[merge]
	conflictstype = diff3
{{- if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{- else if eq .chezmoi.os "linux" }}
[credential]
	helper = store
{{- end }}
[include]
	path = ~/.config/git/secrets
